
@{
    ViewData["Title"] = "Home Page";
}

<section class="wrapper">
    <div class="container">
        <div class="banner">
            <div class="banner__info">
                <div class="banner__title"> <span>Welcome</span> to <br> the world of tasty & fresh food</div>
                <div class="banner__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis natus quaerat pariatur ratione eos, laborum dolores ab illum, sint eaque sit possimus.
                </div>
                <a href="" class="banner__btn">Recipes for you</a>
            </div>
            <div class="banner__photo"></div>
        </div>
    </div>
</section>
<section class="recipes">
    <div class="container">
        <div class="recipes__title">
            Our most popular dishes
        </div>
        <div class="recipes__inner">
        </div>
        <button class="banner__btn ">Generate another recipes </button>
    </div>
</section>

